{% extends 'index.html' %}

{% block content %}

    <div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Dashboard</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="card card-stats card-primary">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Покупок сделано</p>
													<h4 class="card-title">{{ spendings.count }}</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                            {% if joined_groups %}
                                <div class="col-md-3">
                                    <div class="card card-stats card-warning">
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-5">
                                                    <div class="icon-big text-center">
                                                        <i class="la la-users"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 d-flex align-items-center">
                                                    <div class="numbers">
                                                        <p class="card-category">Групп</p>
                                                        <h4 class="card-title">{{ joined_groups }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
						</div>
						<div class="row row-card-no-pd">
							<div class="col-md-6">
								<div class="card">
									<div class="card-body">
										<p class="fw-bold mt-1">Потрачено</p>
										<h4><b>₽ <span class="spending-amount">{{ amount }}</span></b></h4>
										<a href="#id_amount" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Добавить расходы</a>
									</div>
									<div class="card-footer">
										<ul class="nav">
											<li class="nav-item"><a class="btn btn-default btn-link" href="{% url 'history' %}"><i class="la la-history"></i> История</a></li>
										</ul>
									</div>
								     <div class="col-md-12">
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Категория</th>
                                                    <th scope="col">Общая сумма</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for category_properties in category_amount %}
                                                    <tr>
                                                        {% for property in category_properties %}
                                                            <td class="spending-amount">
                                                                {{ property }}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                     </div>
                                </div>
							</div>
                        <div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Users Statistics</h4>
										<p class="card-category">
										Users statistics this month</p>
									</div>
									<div class="card-body">
										<div id="monthlyChart" class="chart chart-pie"></div>
                                    {% for amount in category_amounts %}
                                        <span class="spending-percents" style="visibility: hidden">
                                                {{ amount }}
                                        </span>
                                    {% endfor %}
                                    {% for title in category_titles %}
                                        <span class="spending-title" style="visibility: hidden">
                                                {{ title }}
                                        </span>
                                    {% endfor %}
									</div>
								</div>
							</div>
{#							<div class="col-md-5">#}
{#								<div class="card">#}
{#									<div class="card-body">#}
{#										<div class="progress-card">#}
{#											<div class="d-flex justify-content-between mb-1">#}
{#												<span class="text-muted">Profit</span>#}
{#												<span class="text-muted fw-bold"> $3K</span>#}
{#											</div>#}
{#											<div class="progress mb-2" style="height: 7px;">#}
{#												<div class="progress-bar bg-success" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="78%"></div>#}
{#											</div>#}
{#										</div>#}
{#										<div class="progress-card">#}
{#											<div class="d-flex justify-content-between mb-1">#}
{#												<span class="text-muted">Orders</span>#}
{#												<span class="text-muted fw-bold"> 576</span>#}
{#											</div>#}
{#											<div class="progress mb-2" style="height: 7px;">#}
{#												<div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="65%"></div>#}
{#											</div>#}
{#										</div>#}
{#										<div class="progress-card">#}
{#											<div class="d-flex justify-content-between mb-1">#}
{#												<span class="text-muted">Tasks Complete</span>#}
{#												<span class="text-muted fw-bold"> 70%</span>#}
{#											</div>#}
{#											<div class="progress mb-2" style="height: 7px;">#}
{#												<div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="70%"></div>#}
{#											</div>#}
{#										</div>#}
{#										<div class="progress-card">#}
{#											<div class="d-flex justify-content-between mb-1">#}
{#												<span class="text-muted">Open Rate</span>#}
{#												<span class="text-muted fw-bold"> 60%</span>#}
{#											</div>#}
{#											<div class="progress mb-2" style="height: 7px;">#}
{#												<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="60%"></div>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<div class="col-md-3">#}
{#								<div class="card card-stats">#}
{#									<div class="card-body">#}
{#										<p class="fw-bold mt-1">Statistic</p>#}
{#										<div class="row">#}
{#											<div class="col-5">#}
{#												<div class="icon-big text-center icon-warning">#}
{#													<i class="la la-pie-chart text-warning"></i>#}
{#												</div>#}
{#											</div>#}
{#											<div class="col-7 d-flex align-items-center">#}
{#												<div class="numbers">#}
{#													<p class="card-category">Number</p>#}
{#													<h4 class="card-title">150GB</h4>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{#										<hr/>#}
{#										<div class="row">#}
{#											<div class="col-5">#}
{#												<div class="icon-big text-center">#}
{#													<i class="la la-heart-o text-primary"></i>#}
{#												</div>#}
{#											</div>#}
{#											<div class="col-7 d-flex align-items-center">#}
{#												<div class="numbers">#}
{#													<p class="card-category">Followers</p>#}
{#													<h4 class="card-title">+45K</h4>#}
{#												</div>#}
{#											</div>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
						</div>
{#							<div class="col-md-8">#}
{#								<div class="card">#}
{#									<div class="card-header">#}
{#										<h4 class="card-title">2018 Sales</h4>#}
{#										<p class="card-category">#}
{#										Number of products sold</p>#}
{#									</div>#}
{#									<div class="card-body">#}
{#										<div id="salesChart" class="chart"></div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}

						</div>
                        <div class="row">
                            <div class="col-md-6">
                                <form class="card " method="post" action="{% url 'create-spending' %}">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <div class="card-title">Добавить новые расходы</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="{{ add_spending_form.title.id_for_label }}">Потраченная сумма</label>
                                            {{ add_spending_form.amount}}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ add_spending_form.short_description.id_for_label }}">Краткое описание</label>
                                            {{ add_spending_form.short_description }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ add_spending_form.group.id_for_label }}">Категория</label>
                                            {{ add_spending_form.category }}
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form class="card" method="post" action="{% url 'create-category' %}">
                                    {% csrf_token %}
                                    <div class="card-header">
                                        <div class="card-title">Создать собственную категорию трат</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="{{ add_category_form.title.id_for_label }}">Название</label>
                                            {{ add_category_form.title }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ add_category_form.group.id_for_label }}">Общие расходы группы</label>
                                            {{ add_category_form.group }}
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <button class="btn btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
					</div>
				</div>

{% endblock %}