{% extends 'index.html' %}

{% block content %}
    <div class="content">
        <div class="card">
            <div class="card-header ">
                <h4 class="card-title">История расходов</h4>
                <p class="card-category">Users Table</p>
            </div>
            <div class="card-body">
                <table class="table table-head-bg-success table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Категория</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Дата</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datetime, spendings in spendings_per_day %}
                            {% if datetime == today %}
                                <tr>
                                    <td><p class="card-category"><span class="h6 text-success">Сегодня</span></p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% elif datetime == yesterday %}
                                <tr>
                                    <td><p class="card-category"><span class="h6 text-success">Вчера</span></p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><p class="card-category"><span class="h6 text-success">{{ datetime }}</span></p></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endif %}

                            {% for spending in spendings %}
                                <tr>
                                    <td>{{ spending.category.title }}</td>
                                    <td>{{ spending.amount }} ₽</td>
                                    <td>{{ spending.creation_date  }}</td>
                                    {% if spending.category.group %}
                                        <td>Групповая трата</td>
                                    {% else %}
                                        <td>Личная трата</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}